In [89]:
# pip install isodate

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import isodate

In [5]:
# Since the data set is too large, we only run 5 millions data points
df = pd.read_csv("flight_price_100k.csv")

In [7]:
len(df)

100000

In [93]:
df.head(5)

,Unnamed: 0.1,Unnamed: 0,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,0,0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,1,1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,2,2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,3,3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,4,4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [94]:
# The data set gives information about flights including:
# - legId: An identifier for the flight.
# - searchDate: The date (YYYY-MM-DD) on which this entry was taken
# from Expedia.
# - flightDate: The date (YYYY-MM-DD) of the flight.
# - startingAirport: Three-character IATA airport code for
# the initial location.
# - destinationAirport: Three-character IATA airport code for the
# arrival location.
# - fareBasisCode: The fare basis code.
# - travelDuration: The travel duration in hours and minutes.
# - elapsedDays: The number of elapsed days (usually 0).
# - isBasicEconomy: Boolean for whether the ticket is for
# basic economy.
# - isRefundable: Boolean for whether the ticket is refundable.
# - isNonStop: Boolean for whether the flight is non-stop.
# - baseFare: The price of the ticket (in USD).
# - totalFare: The price of the ticket (in USD) including taxes
# and other fees.
# - seatsRemaining: Integer for the number of seats remaining.
# - totalTravelDistance: The total travel distance in miles. This
# data is sometimes missing.
# - segmentsDepartureTimeEpochSeconds: String containing the
# departure time (Unix time) for each leg of the trip. The entries
# for each of the legs are separated by '||'.
# - segmentsDepartureTimeRaw: String containing the departure time
#  (ISO 8601 format: YYYY-MM-DDThh:mm:ss.000±[hh]:00) for each leg
# of the trip. The entries for each of the legs are separated by '||'.
# - segmentsArrivalTimeEpochSeconds: String containing the
# arrival time (Unix time) for each leg of the trip. The
# entries for each of the legs are separated by '||'.
# - segmentsArrivalTimeRaw: String containing the arrival time
#  (ISO 8601 format: YYYY-MM-DDThh:mm:ss.000±[hh]:00) for each
# leg of the trip. The entries for each of the legs are separated
# by '||'.
# - segmentsArrivalAirportCode: String containing the IATA
# airport code for the arrival location for each leg of the
#  trip. The entries for each of the legs are separated by '||'.
# - segmentsDepartureAirportCode: String containing the IATA
# airport code for the departure location for each leg of the
# trip. The entries for each of the legs are separated by '||'.
# - segmentsAirlineName: String containing the name of the airline
#  that services each leg of the trip. The entries for each of the
#  legs are separated by '||'.
# - segmentsAirlineCode: String containing the two-letter airline
#  code that services each leg of the trip. The entries for each
# of the legs are separated by '||'.
# - segmentsEquipmentDescription: String containing the type of
#  airplane used for each leg of the trip (e.g. "Airbus A321" or
# "Boeing 737-800"). The entries for each of the legs are separated
#  by '||'.
# - segmentsDurationInSeconds: String containing the duration
# of the flight (in seconds) for each leg of the trip. The
# entries for each of the legs are separated by '||'.
# - segmentsDistance: String containing the distance traveled
#  (in miles) for each leg of the trip. The entries for each of
# the legs are separated by '||'.
# - segmentsCabinCode: String containing the cabin for each
# leg of the trip (e.g. "coach"). The entries for each of the
# legs are separated by '||'.

In [8]:
# Basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0.1                       100000 non-null  int64
 1   Unnamed: 0                         100000 non-null  int64
 2   legId                              100000 non-null  object
 3   searchDate                         100000 non-null  object
 4   flightDate                         100000 non-null  object
 5   startingAirport                    100000 non-null  object
 6   destinationAirport                 100000 non-null  object
 7   fareBasisCode                      100000 non-null  object
 8   travelDuration                     100000 non-null  object
 9   elapsedDays                        100000 non-null  int64
 10  isBasicEconomy                     100000 non-null  bool
 11  isRefundable                       100000 non-null  bool
 12  isNonStop                          100000 non-null  bool
 13  baseFare                           100000 non-null  float64
 14  totalFare                          100000 non-null  float64
 15  seatsRemaining                     100000 non-null  int64
 16  totalTravelDistance                94959 non-null   float64
 17  segmentsDepartureTimeEpochSeconds  100000 non-null  object
 18  segmentsDepartureTimeRaw           100000 non-null  object
 19  segmentsArrivalTimeEpochSeconds    100000 non-null  object
 20  segmentsArrivalTimeRaw             100000 non-null  object
 21  segmentsArrivalAirportCode         100000 non-null  object
 22  segmentsDepartureAirportCode       100000 non-null  object
 23  segmentsAirlineName                100000 non-null  object
 24  segmentsAirlineCode                100000 non-null  object
 25  segmentsEquipmentDescription       98289 non-null   object
 26  segmentsDurationInSeconds          100000 non-null  object
 27  segmentsDistance                   99353 non-null   object
 28  segmentsCabinCode                  100000 non-null  object
dtypes: bool(3), float64(3), int64(4), object(19)
memory usage: 20.1+ MB
None

## Since the flight ticket can include multiple flights, we need to split values for these following columns:
    segmentsCabinCode
    segmentsDistance 
    segmentsDurationInSeconds
    segmentsEquipmentDescription 
    segmentsAirlineCode
    segmentsDepartureAirportCode
    segmentsArrivalAirportCode
    segmentsDepartureTimeEpochSeconds
    segmentsArrivalTimeEpochSeconds

In [9]:
# Drop unnecessary columns, since we have the epochs columns for these columns 
drop_columns = ["segmentsDepartureTimeRaw", "segmentsArrivalTimeRaw", 
                "segmentsAirlineName", "Unnamed: 0.1","Unnamed: 0", 
               "baseFare"]
df.drop(columns = drop_columns, inplace=True)

columns_to_split = ["segmentsCabinCode", "segmentsDistance", "segmentsDurationInSeconds",
                    "segmentsEquipmentDescription", "segmentsAirlineCode",
                    "segmentsDepartureAirportCode", "segmentsArrivalAirportCode", 
                    "segmentsDepartureTimeEpochSeconds", "segmentsArrivalTimeEpochSeconds"]

# Split each column based on "||" separator using regular expression and fill missing values with 0
for column in columns_to_split:
    split_column = df[column].str.split("\|\|", expand=True).fillna("0")
    split_column.columns = [f"{column}_{i+1}" for i in range(split_column.shape[1])]
    df = pd.concat([df, split_column], axis=1)

# Drop the original columns if needed
df.drop(columns=columns_to_split, inplace=True)

In [10]:
df

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalAirportCode_3,segmentsArrivalAirportCode_4,segmentsDepartureTimeEpochSeconds_1,segmentsDepartureTimeEpochSeconds_2,segmentsDepartureTimeEpochSeconds_3,segmentsDepartureTimeEpochSeconds_4,segmentsArrivalTimeEpochSeconds_1,segmentsArrivalTimeEpochSeconds_2,segmentsArrivalTimeEpochSeconds_3,segmentsArrivalTimeEpochSeconds_4
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,...,0,0,1650214620,0,0,0,1650223560,0,0,0
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,0,0,1650191400,0,0,0,1650200400,0,0,0
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,0,0,1650209700,0,0,0,1650218700,0,0,0
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,...,0,0,1650218340,0,0,0,1650227460,0,0,0
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,...,0,0,1650203940,0,0,0,1650213180,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,02a4d527796ca5bd8be5b0e8e3d85acd,2022-04-17,2022-04-19,EWR,DEN,LAA3JHEN,PT8H36M,0,False,False,...,0,0,1650361440,1650383700,0,0,1650374940,1650392400,0,0
99996,416ff0256a24791b8924f91c354901ac,2022-04-17,2022-04-19,EWR,DEN,LAA3JHEN,PT8H58M,0,False,False,...,0,0,1650395820,1650418200,0,0,1650405180,1650428100,0,0
99997,e7806daf62b3d0eb0f801337bacdc496,2022-04-17,2022-04-19,EWR,DEN,N3AJZSN3,PT8H59M,0,False,False,...,0,0,1650364440,1650389280,0,0,1650378840,1650396780,0,0
99998,baac14d391f0026f78698e0915f92818,2022-04-17,2022-04-19,EWR,DEN,VA3NA0BC,PT9H3M,0,True,False,...,0,0,1650395460,1650420300,0,0,1650406320,1650428040,0,0
99999,61464bc6b979fa0cfba42d370a1da2a5,2022-04-17,2022-04-19,EWR,DEN,TAA3JHEN,PT4H14M,0,False,False,...,0,0,1650385740,0,0,0,1650400980,0,0,0

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 50 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   legId                                100000 non-null  object
 1   searchDate                           100000 non-null  object
 2   flightDate                           100000 non-null  object
 3   startingAirport                      100000 non-null  object
 4   destinationAirport                   100000 non-null  object
 5   fareBasisCode                        100000 non-null  object
 6   travelDuration                       100000 non-null  object
 7   elapsedDays                          100000 non-null  int64
 8   isBasicEconomy                       100000 non-null  bool
 9   isRefundable                         100000 non-null  bool
 10  isNonStop                            100000 non-null  bool
 11  totalFare                            100000 non-null  float64
 12  seatsRemaining                       100000 non-null  int64
 13  totalTravelDistance                  94959 non-null   float64
 14  segmentsCabinCode_1                  100000 non-null  object
 15  segmentsCabinCode_2                  100000 non-null  object
 16  segmentsCabinCode_3                  100000 non-null  object
 17  segmentsCabinCode_4                  100000 non-null  object
 18  segmentsDistance_1                   100000 non-null  object
 19  segmentsDistance_2                   100000 non-null  object
 20  segmentsDistance_3                   100000 non-null  object
 21  segmentsDistance_4                   100000 non-null  object
 22  segmentsDurationInSeconds_1          100000 non-null  object
 23  segmentsDurationInSeconds_2          100000 non-null  object
 24  segmentsDurationInSeconds_3          100000 non-null  object
 25  segmentsDurationInSeconds_4          100000 non-null  object
 26  segmentsEquipmentDescription_1       100000 non-null  object
 27  segmentsEquipmentDescription_2       100000 non-null  object
 28  segmentsEquipmentDescription_3       100000 non-null  object
 29  segmentsEquipmentDescription_4       100000 non-null  object
 30  segmentsAirlineCode_1                100000 non-null  object
 31  segmentsAirlineCode_2                100000 non-null  object
 32  segmentsAirlineCode_3                100000 non-null  object
 33  segmentsAirlineCode_4                100000 non-null  object
 34  segmentsDepartureAirportCode_1       100000 non-null  object
 35  segmentsDepartureAirportCode_2       100000 non-null  object
 36  segmentsDepartureAirportCode_3       100000 non-null  object
 37  segmentsDepartureAirportCode_4       100000 non-null  object
 38  segmentsArrivalAirportCode_1         100000 non-null  object
 39  segmentsArrivalAirportCode_2         100000 non-null  object
 40  segmentsArrivalAirportCode_3         100000 non-null  object
 41  segmentsArrivalAirportCode_4         100000 non-null  object
 42  segmentsDepartureTimeEpochSeconds_1  100000 non-null  object
 43  segmentsDepartureTimeEpochSeconds_2  100000 non-null  object
 44  segmentsDepartureTimeEpochSeconds_3  100000 non-null  object
 45  segmentsDepartureTimeEpochSeconds_4  100000 non-null  object
 46  segmentsArrivalTimeEpochSeconds_1    100000 non-null  object
 47  segmentsArrivalTimeEpochSeconds_2    100000 non-null  object
 48  segmentsArrivalTimeEpochSeconds_3    100000 non-null  object
 49  segmentsArrivalTimeEpochSeconds_4    100000 non-null  object
dtypes: bool(3), float64(2), int64(2), object(43)
memory usage: 36.1+ MB
None

In [12]:
# Convert the transfered columns from object data type to float

transfered_columns = ["segmentsDistance_1", "segmentsDistance_2", 
                      "segmentsDistance_3", "segmentsDistance_4", 
                      "segmentsDurationInSeconds_1", "segmentsDurationInSeconds_2", 
                      "segmentsDurationInSeconds_3", "segmentsDurationInSeconds_4", 
                      "segmentsDepartureTimeEpochSeconds_1", "segmentsDepartureTimeEpochSeconds_2",
                      "segmentsDepartureTimeEpochSeconds_3", "segmentsDepartureTimeEpochSeconds_4",
                      "segmentsArrivalTimeEpochSeconds_1", "segmentsArrivalTimeEpochSeconds_2", 
                      "segmentsArrivalTimeEpochSeconds_3", "segmentsArrivalTimeEpochSeconds_4"]

# Convert each column in the list to numeric, handling non-numeric values by converting them to NaN
for column in transfered_columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [13]:
# We think the amount of days difference between search date and flight date 
# would contribute more information since often the sooner we book, the 
# cheaper the ticket will be 

# Converting to datetime value
df['searchDate'] = pd.to_datetime(df['searchDate'])
df['flightDate'] = pd.to_datetime(df['flightDate'])

# Calculate the difference
df['search_vs_filght_Difference'] = (df['flightDate'] - df['searchDate']).dt.days

In [14]:
# We need to convert travel duration from isodate to hours
# Function to convert duration to hours
def convert_duration_to_hours(duration_str):
    try:
        duration = isodate.parse_duration(duration_str)
        return duration.total_seconds() / 3600
    except Exception as e:
        print(f"Error parsing {duration_str}: {e}")
        return None

# Apply the function to the DataFrame
df['travelDuration'] = df['travelDuration'].apply(convert_duration_to_hours)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 51 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   legId                                100000 non-null  object
 1   searchDate                           100000 non-null  datetime64[ns]
 2   flightDate                           100000 non-null  datetime64[ns]
 3   startingAirport                      100000 non-null  object
 4   destinationAirport                   100000 non-null  object
 5   fareBasisCode                        100000 non-null  object
 6   travelDuration                       100000 non-null  float64
 7   elapsedDays                          100000 non-null  int64
 8   isBasicEconomy                       100000 non-null  bool
 9   isRefundable                         100000 non-null  bool
 10  isNonStop                            100000 non-null  bool
 11  totalFare                            100000 non-null  float64
 12  seatsRemaining                       100000 non-null  int64
 13  totalTravelDistance                  94959 non-null   float64
 14  segmentsCabinCode_1                  100000 non-null  object
 15  segmentsCabinCode_2                  100000 non-null  object
 16  segmentsCabinCode_3                  100000 non-null  object
 17  segmentsCabinCode_4                  100000 non-null  object
 18  segmentsDistance_1                   95606 non-null   float64
 19  segmentsDistance_2                   95606 non-null   float64
 20  segmentsDistance_3                   99877 non-null   float64
 21  segmentsDistance_4                   100000 non-null  int64
 22  segmentsDurationInSeconds_1          100000 non-null  int64
 23  segmentsDurationInSeconds_2          100000 non-null  int64
 24  segmentsDurationInSeconds_3          100000 non-null  int64
 25  segmentsDurationInSeconds_4          100000 non-null  int64
 26  segmentsEquipmentDescription_1       100000 non-null  object
 27  segmentsEquipmentDescription_2       100000 non-null  object
 28  segmentsEquipmentDescription_3       100000 non-null  object
 29  segmentsEquipmentDescription_4       100000 non-null  object
 30  segmentsAirlineCode_1                100000 non-null  object
 31  segmentsAirlineCode_2                100000 non-null  object
 32  segmentsAirlineCode_3                100000 non-null  object
 33  segmentsAirlineCode_4                100000 non-null  object
 34  segmentsDepartureAirportCode_1       100000 non-null  object
 35  segmentsDepartureAirportCode_2       100000 non-null  object
 36  segmentsDepartureAirportCode_3       100000 non-null  object
 37  segmentsDepartureAirportCode_4       100000 non-null  object
 38  segmentsArrivalAirportCode_1         100000 non-null  object
 39  segmentsArrivalAirportCode_2         100000 non-null  object
 40  segmentsArrivalAirportCode_3         100000 non-null  object
 41  segmentsArrivalAirportCode_4         100000 non-null  object
 42  segmentsDepartureTimeEpochSeconds_1  100000 non-null  int64
 43  segmentsDepartureTimeEpochSeconds_2  100000 non-null  int64
 44  segmentsDepartureTimeEpochSeconds_3  100000 non-null  int64
 45  segmentsDepartureTimeEpochSeconds_4  100000 non-null  int64
 46  segmentsArrivalTimeEpochSeconds_1    100000 non-null  int64
 47  segmentsArrivalTimeEpochSeconds_2    100000 non-null  int64
 48  segmentsArrivalTimeEpochSeconds_3    100000 non-null  int64
 49  segmentsArrivalTimeEpochSeconds_4    100000 non-null  int64
 50  search_vs_filght_Difference          100000 non-null  int64
dtypes: bool(3), datetime64[ns](2), float64(6), int64(16), object(24)
memory usage: 36.9+ MB

In [18]:
# Save the modified DataFrame 
df.to_csv("fligh_price_100k_processed.csv", index=False)

In [19]:
df_100k = pd.read_csv("fligh_price_100k_processed.csv")
len(df_100k)

100000